<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leave</title>
</head>
<body>
    {% if user.is_authenticated %}
        <b> Previous Leaves</b><br><br>

        {% for leave in all_leaves %}
            {{ leave }}<br>

            {% if leave.approval %}
                Approved<br><br>
            {% endif %}

            {% if not leave.approval %}
                Not Approved<br><br>
            {% endif %}

        {% endfor %}
        <br><br>
        <a href="{% url 'Leave:leave_add_view' %}"> Apply for a leave</a>
        <a href="/accounts/logout/"> Logout</a>

    {% elif user.username == "Mahavir" %}
        <b>You are not a student</b>
        <a href="{% url 'Leave:chief_view' %}"> Return to Approve page</a>

    {% else %}
        <b>You must login</b>
        <a href="/accounts/login/"> Login</a>
    {% endif %}

</body>
</html>