<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>APPROVE LEAVES</title>
</head>
<body>

        {% if not user.is_authenticated %}
            not logged in<br><br>
            <a href="/accounts/login/">Login</a>


        {% else %}
            <p> You are in</p><br><br>


            {% for leave in unapproved_leaves %}
                {{ leave }}<br>

                {% if leave.approval %}
                    Approved<br><br>

                {% endif %}

                {% if not leave.approval %}
                    Not Approved<br><br>
                {% endif %}

            {% endfor %}
            <br><br>

          <a href="{% url 'Leave:leave_approve_view' %}"> Approve leaves</a>
          <a href="/accounts/logout/"> Logout</a>
        {% endif %}

</body>
</html>